<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Heung"
        tools:targetApi="31">
        <activity
            android:name=".OtherProfActivity"
            android:exported="false" />
        <activity
            android:name=".SelfProfActivity"
            android:exported="false" />
        <activity
            android:name=".RentActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RecrutWriteActivity"
            android:exported="false" />
        <activity
            android:name=".PostWriteActivity"
            android:exported="false" />
        <activity
            android:name=".RecruContActivity"
            android:exported="false" />
        <activity
            android:name=".PostContActivity"
            android:exported="false" />
        <activity
            android:name=".CalActivity"
            android:exported="false" />
        <activity
            android:name=".CalWriteActivity"
            android:exported="false" />
        <activity
            android:name=".CalDetailActivity"
            android:exported="false" />
        <activity
            android:name=".RecruListActivity"
            android:exported="false" />
        <activity
            android:name=".PostListActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>